div .anuncio .inicio_seccion{
    display: inline-block;
}
.anuncio{
    width: 30%;
    height: 551px;
    background:blue;
    float: left;
}
body{
    font-family: sans-serif;
}
.inicio_seccion{
    width: 200px;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.inicio_seccion input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}