{% extends 'index.html' %}
{% load widget_tweaks%}
{% load static %}
{%block estilos%}
<link rel="stylesheet" href="{% static 'css/principal.css' %}">
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
{%endblock estilos%}
{% block body %}
{% block header %}
{% endblock header %}
<div class="Logo">
    <img src="" alt="">
</div>
<hr>
<div class="contenedor">
    <div class="caja_formulario">
        <div class="botones_caja">
            <h1>Registrate</h1>
        </div>
        <form id="Cliente" class="grupo_input" method="post">
            {% csrf_token %}
            {% render_field form.username class="texto_input" placeholder="Nombre"%}
            {% render_field form.last_name class="texto_input" placeholder="Apellido"%}
            {% render_field form.email class="texto_input" placeholder="Correo"%}
            {% render_field form.password1 class="texto_input" placeholder="Contraseña"%}
            {% render_field form.password2 class="texto_input" placeholder="Repetir contraseña"%}
            <button type="submit" class="boton_registrar"><b>registrar</b></button>
        </form>
    </div>
</div>
<script>
var x = document.getElementById("Cliente");
var z = document.getElementById("elegir");
</script>
{% endblock body %}
